@use "__variables" as *;
@use "__styles" as *;

.about-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 1rem;
    grid-template-areas: 
        "about1 img1 about2"
        "about1 img2 about2"
        "about1 img3 about2";
    }


.about1 {
    grid-area: about1;
}

.about2 {
    grid-area: about2;
}

.image {
    max-width: 100%;
    min-height: 100%;
    max-height: 25vh;
    border-radius: $border-radius;
    overflow: hidden;
    position: relative;
    img {
        width: 100%; 
        min-height: 100%; 
        object-fit: cover;
    }
    .img1 {
        grid-area: img1;
    }
    .img2 {
        grid-area: img2;
    }
    .img3 {
        grid-area: img3;
    }
}



@media screen and (max-width:768px) {
    h1 {
        text-align: center;
    }
    .about-grid {
        display: flex;
        flex-direction: column;
        &>:nth-child(1) {
            order: 2;
        }
        &>:nth-child(2) {
            order: 4;
        }
        &>:nth-child(3) {
            order: 1;
        }
        &>:nth-child(4) {
            order: 3;
        }
        &>:nth-child(5) {
            order: 5;
        }
    }
    }
    