@use "__variables" as *;


// Title page image drop

.circle {
    animation: dropElement ease-in-out 800ms forwards;
    opacity: 0;
}

.hero-img img {
    animation: dropPulse ease-in-out 1600ms forwards;
    opacity: 0;
    animation-delay: 1000ms;
}

.c3 {
    animation-delay: 200ms;
}

.c2 {
    animation-delay: 400ms;
}
.c1 {
    animation-delay: 600ms;
}



@keyframes dropElement {
    from {
        transform: translateY(-200%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes dropPulse {
    0% {
        transform: translateY(-200%);
    }
    50% {
        opacity: 1;
        transform: translateY(0);
        opacity: 1;
        
    }
    75% {
        opacity: 1;
        border: 50px solid $primary-dark;
    }
    100% {
        opacity: 1;
        border: $border;
    }
}
