@use "__variables" as *;
@use "__styles" as *;



.wrapper {
    border-radius: $border-radius;
    max-width: $main-max-width;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
}
.address {
    width: 50%
}
.details {
    width: 50%;
    margin: auto;
    p {
        font-size: 1.4rem;

    font-family: $ff-text;
    }
    .right {
        margin-top: 1rem;
        text-align: center;
    }
}

.form-wrapper {
    width: 60%;
    background-color: $primary-li-t3;
    border-radius: $border-radius;
    padding: 1rem 0;
    h3 {
        width: 80%;
        margin: auto;
        margin-bottom: 2rem;
    }
    form {
        box-sizing: border-box;
        width: 80%;
        display: flex;
        flex-direction: column;
        margin: auto;
        .btns {
            display: flex;
            justify-content: flex-end;
            button {
                min-width: 30%;
                font-size: 1.4rem;
                text-transform: uppercase;
                border-radius: $border-radius;
                color: $secondary-xtra-dark;
                background-color: $primary-xl-t1;
                border: $border;
                margin: .5rem 0;
                padding: .5rem 0;
                transition: all 300ms ease-in;
                &:hover {
                    letter-spacing: 10px;
                    color: $secondary-xtra-dark;
                    background-color: §primary-light;
                }
            }
        }

    }
    input {
        width: 50%;
    }
    textarea, input {
        // box-sizing: border-box;
        border-radius: $border-radius;
        padding: .5rem;   
        font-size: 1.2rem;
        margin: .7rem 0;
        &::placeholder {
            font-style: italic;
        }
        &:focus {
            outline: none;
            box-shadow: 0 0 0 2px $primary-dark;
        }
    }  
    

}






@media screen and (max-width:1000px) and (min-width: 769px) {
    .wrapper {
        flex-direction: column;
    }
    .address {
        width: 100%;
    }
    .details{
        width: 70%;
        font-size: 1rem;
    }
    .form-wrapper {
        width: 95%;
        margin-top: 3rem;
        input {
            width: 100%;
        }
    }
}

@media screen and (max-width:768px) {
    .wrapper {
        flex-direction: column;
        padding: 0;
    }
    .address {
        width: 100%;
    }
    .details{
        width: 100%;
        font-size: 1rem;
    }
    .form-wrapper {
        width: 100%;
        margin-top: 3rem;
        input {
            width: 100%;
        }
    }
}