@use "__variables" as *;
@use "__styles" as *;

.wrapper {
    width: 60%;
    border-radius: $border-radius;
    margin: auto;
    display: flex;
    flex-direction: column;
    background-color: $primary-li-t3;
    align-items: flex-start;
    padding: 2rem;
    // gap: 2rem;
    form {
        
    }
    textarea {
        width: 75%;
    }
}
