@use "__variables" as *;

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: $ff-text;
}

body {
    background: black url("../assets/background-large.jpg") no-repeat fixed center;
    background-size: cover;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $ff-display;
}

h1 {
    color: $primary-dark;
    text-transform: uppercase;
    font-family: $ff-display;
    font-size: 7rem;
    text-align: end;
    .mirror {
        display: inline-block;
        transform: scaleX(-1);
    }
    @media screen and (max-width:768px) {
        font-size: 4rem;
    }
}
h3 {
    color: $primary-medium;
    text-transform: uppercase;
    font-size: 2rem;
}

main {
    max-width: $main-max-width;
    margin: auto;
    padding: 2rem;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 1rem;
    background-color: $primary-li-t3;
    border-radius: $border-radius;
    p {
        color: $primary-light;
    }
} 

.tile {
    padding: 1rem;
    flex: 1;
    border-radius: $border-radius;
    h3 {
        margin-bottom: 1rem;
    }
    p {
        font-size: 1.4rem;
        text-align: left;
    }
    &:hover {
        background-color: $primary-light;
        h3 {
            color: $primary-dark;        
        }
        p {
            color: $secondary-dark;
        }
    }
}

.footer {
    width: 100%;
    display: flex;
    justify-content: center;
}

.back {
    display: inline-block;
    background-color: $primary-li-t3;
    color: $primary-light;
    margin-top: 5rem;
    text-align: center;
    text-decoration: none;
    border-radius: $border-radius;
    border: $border;
    width: 20%;
    min-width: 4rem;
    padding: .5rem 0;
    transition: all 300ms ease-in;
    &:hover {
        letter-spacing: 10px;
        background-color: $primary-light;
        color: $secondary-dark;
    } 
}

.filter {
    background-color: $primary-med-t2;
    height: 100%;
    width: 100%;
    position: absolute;
}

@media screen and (max-width:900px) {
    .tile {
        h3 {
            font-size: 1.6rem;
        }
        p {
            font-size: 1.2rem;
        }
    }
}

