@use "__variables" as *;
@use "__styles" as *;
@use "__animations" as *;

.work-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 1rem;
    grid-template-areas: 
        "work1 image1 image1"
        "work1 highlight work2"
        "image2 image2 work2";
}

.work1 {
    grid-area: work1;
    p {
        margin-bottom: 1rem;
    }
}

.work2 {
    grid-area: work2;
    p {
        margin-bottom: 1rem;
    }
}

.highlight {
    grid-area: highlight;
    background-color: $primary-light;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: $border-radius;
    h3 {
        color: $primary-dark;
    }

}

.sm-icon {
    color: $primary-dark;
    font-size: 2.5rem;
    &:hover {
        transform: scale(1.2, 1.2);
    }
}



.image-top {
    background-image: url("../assets/zebras-top-sm.jpeg");
    background-size: cover;
    background-position: bottom;
    // background-position: 75% 50%;
    width: 100%;
    height: 100%;
    min-height: 25vh;
}

.image-bottom {
    background-image: url("../assets/zebras2-sm.jpeg");
    background-size: cover;
    background-position: 75% 70%;
    width: 100%;
    height: 100%;
    min-height: 25vh;
}


.image-large {
    width: auto;
    max-width: 100%;
    min-height: 100%;
    max-height: 25vh;
    grid-column: span 2;
    border-radius: $border-radius;
    overflow: hidden;
    position: relative;
}



@media screen and (max-width:768px) {
    .work-grid {
        display: flex;
        flex-direction: column;
        &>:nth-child(1) {
            order: 2;
        }
        &>:nth-child(2) {
            order: 4;
        }
        &>:nth-child(3) {
            order: 3;
        }
        &>:nth-child(4) {
            order: 5;
        }
        &>:nth-child(5) {
            order: 6;
        }
    }
}

