@charset "UTF-8";
.circle {
  animation: dropElement ease-in-out 800ms forwards;
  opacity: 0;
}

.hero-img img {
  animation: dropPulse ease-in-out 1600ms forwards;
  opacity: 0;
  animation-delay: 1000ms;
}

.c3 {
  animation-delay: 200ms;
}

.c2 {
  animation-delay: 400ms;
}

.c1 {
  animation-delay: 600ms;
}

@keyframes dropElement {
  from {
    transform: translateY(-200%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes dropPulse {
  0% {
    transform: translateY(-200%);
  }
  50% {
    opacity: 1;
    transform: translateY(0);
    opacity: 1;
  }
  75% {
    opacity: 1;
    border: 50px solid #008080;
  }
  100% {
    opacity: 1;
    border: 3px solid #008080;
  }
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Raleway", sans-serif;
}

body {
  background: black url("../assets/background-large.jpg") no-repeat fixed center;
  background-size: cover;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Josefin Sans", sans-serif;
}

h1 {
  color: rgb(0, 84, 85);
  text-transform: uppercase;
  font-family: "Josefin Sans", sans-serif;
  font-size: 7rem;
  text-align: end;
}
h1 .mirror {
  display: inline-block;
  transform: scaleX(-1);
}
@media screen and (max-width: 768px) {
  h1 {
    font-size: 4rem;
  }
}
@media screen and (max-width: 1200px) and (min-width: 1000px) {
  h1 {
    font-size: 5rem;
  }
}

h3 {
  color: #008080;
  text-transform: uppercase;
  font-size: 2rem;
}

main {
  max-width: 1800px;
  margin: auto;
  padding: 2rem;
}
@media screen and (max-width: 768px) {
  main {
    padding: 0.5rem;
  }
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 1rem;
  background-color: rgba(178, 216, 216, 0.3);
  border-radius: 7px;
}
.card p {
  color: rgb(235, 243, 243);
  font-family: "Raleway", sans-serif;
}

.tile {
  padding: 1rem;
  flex: 1;
  border-radius: 7px;
}
.tile h3 {
  margin-bottom: 1rem;
}
.tile p {
  font-size: 1.4rem;
  text-align: left;
}
.tile:hover {
  background-color: rgb(235, 243, 243);
}
.tile:hover h3 {
  color: #008080;
}
.tile:hover p {
  color: #1f2528;
}

.footer {
  width: 100%;
  display: flex;
  justify-content: center;
}

.back {
  display: inline-block;
  background-color: rgba(235, 243, 243, 0.3);
  color: rgb(235, 243, 243);
  margin-top: 5rem;
  text-align: center;
  text-decoration: none;
  border-radius: 7px;
  border: 3px solid #008080;
  width: 20%;
  min-width: 4rem;
  padding: 0.5rem 0;
  transition: all 300ms ease-in;
}
.back:hover {
  letter-spacing: 10px;
  background-color: rgb(235, 243, 243);
  color: #1f2528;
}

.filter {
  background-color: rgba(0, 128, 128, 0.3);
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 100;
}

@media screen and (max-width: 900px) {
  .tile h3 {
    font-size: 1.6rem;
  }
  .tile p {
    font-size: 1.2rem;
  }
}
.wrapper {
  border-radius: 7px;
  max-width: 1800px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}

.address {
  width: 50%;
}

.details {
  width: 50%;
  margin: auto;
}
.details p {
  font-size: 1.4rem;
  font-family: "Raleway", sans-serif;
}
.details .right {
  margin-top: 1rem;
  text-align: center;
}

.form-wrapper {
  width: 60%;
  background-color: rgba(178, 216, 216, 0.3);
  border-radius: 7px;
  padding: 1rem 0;
}
.form-wrapper h3 {
  width: 80%;
  margin: auto;
  margin-bottom: 2rem;
}
.form-wrapper form {
  box-sizing: border-box;
  width: 80%;
  display: flex;
  flex-direction: column;
  margin: auto;
}
.form-wrapper form .btns {
  display: flex;
  justify-content: flex-end;
}
.form-wrapper form .btns button {
  min-width: 30%;
  font-size: 1.4rem;
  text-transform: uppercase;
  border-radius: 7px;
  color: #1f2528;
  background-color: rgba(235, 243, 243, 0.7);
  border: 3px solid #008080;
  margin: 0.5rem 0;
  padding: 0.5rem 0;
  transition: all 300ms ease-in;
}
.form-wrapper form .btns button:hover {
  letter-spacing: 10px;
  color: #1f2528;
  background-color: §primary-light;
}
.form-wrapper input {
  width: 50%;
}
.form-wrapper textarea, .form-wrapper input {
  border-radius: 7px;
  padding: 0.5rem;
  font-size: 1.2rem;
  margin: 0.7rem 0;
}
.form-wrapper textarea::placeholder, .form-wrapper input::placeholder {
  font-style: italic;
}
.form-wrapper textarea:focus, .form-wrapper input:focus {
  outline: none;
  box-shadow: 0 0 0 2px #008080;
}

@media screen and (max-width: 1000px) and (min-width: 769px) {
  .wrapper {
    flex-direction: column;
  }
  .address {
    width: 100%;
  }
  .details {
    width: 70%;
    font-size: 1rem;
  }
  .form-wrapper {
    width: 95%;
    margin-top: 3rem;
  }
  .form-wrapper input {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .wrapper {
    flex-direction: column;
    padding: 0;
  }
  .address {
    width: 100%;
  }
  .details {
    width: 100%;
    font-size: 1rem;
  }
  .form-wrapper {
    width: 100%;
    margin-top: 3rem;
  }
  .form-wrapper input {
    width: 100%;
  }
}
.work-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 1rem;
  grid-template-areas: "work1 image1 image1" "work1 highlight work2" "image2 image2 work2";
}

.work1 {
  grid-area: work1;
}
.work1 p {
  margin-bottom: 1rem;
}

.work2 {
  grid-area: work2;
}
.work2 p {
  margin-bottom: 1rem;
}

.highlight {
  grid-area: highlight;
  background-color: rgb(178, 216, 216);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border-radius: 7px;
  align-items: center;
}
.highlight h3 {
  color: #008080;
}

.sm-icon {
  color: #008080;
  font-size: 2.5rem;
}
.sm-icon:hover {
  transform: scale(1.2, 1.2);
}

.image-top {
  background-image: url("../assets/zebras-top-sm.jpeg");
  background-size: cover;
  background-position: bottom;
  width: 100%;
  height: 100%;
  min-height: 25vh;
}

.image-bottom {
  background-image: url("../assets/zebras2-sm.jpeg");
  background-size: cover;
  background-position: 75% 70%;
  width: 100%;
  height: 100%;
  min-height: 25vh;
}

.image-large {
  width: auto;
  max-width: 100%;
  min-height: 100%;
  max-height: 25vh;
  grid-column: span 2;
  border-radius: 7px;
  overflow: hidden;
  position: relative;
}

@media screen and (max-width: 768px) {
  .work-grid {
    display: flex;
    flex-direction: column;
  }
  .work-grid > :nth-child(1) {
    order: 2;
  }
  .work-grid > :nth-child(2) {
    order: 4;
  }
  .work-grid > :nth-child(3) {
    order: 3;
  }
  .work-grid > :nth-child(4) {
    order: 5;
  }
  .work-grid > :nth-child(5) {
    order: 6;
  }
}
.about-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 1rem;
  grid-template-areas: "about1 img1 about2" "about1 img2 about2" "about1 img3 about2";
}

.about1 {
  grid-area: about1;
}

.about2 {
  grid-area: about2;
}

.image-wrap {
  max-width: 100%;
  min-height: 100%;
  max-height: 25vh;
  border-radius: 7px;
  overflow: hidden;
  position: relative;
}
.image-wrap img {
  width: 100%;
  min-height: 100%;
  object-fit: cover;
}

.img1 {
  background-image: url("../assets/elephant3-flip-sm.jpeg");
  background-size: cover;
  background-position: 50%;
  width: 100%;
  height: 100%;
  min-height: 25vh;
}

.img2 {
  background-image: url("../assets/elephant2-sm.jpeg");
  background-size: cover;
  background-position: 50%;
  width: 100%;
  height: 100%;
  min-height: 25vh;
}

.img3 {
  background-image: url("../assets/elephant1-sm.jpeg");
  background-size: cover;
  background-position: 50% 20%;
  width: 100%;
  height: 100%;
  min-height: 25vh;
}

@media screen and (max-width: 768px) {
  h1 {
    text-align: center;
  }
  .about-grid {
    display: flex;
    flex-direction: column;
  }
  .about-grid > :nth-child(1) {
    order: 2;
  }
  .about-grid > :nth-child(2) {
    order: 4;
  }
  .about-grid > :nth-child(3) {
    order: 1;
  }
  .about-grid > :nth-child(4) {
    order: 3;
  }
  .about-grid > :nth-child(5) {
    order: 5;
  }
}
.hero {
  max-width: 1800px;
  margin: 7% auto;
  display: flex;
  justify-content: space-evenly;
}

.hero-text {
  margin-top: 15vh;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 20px;
  max-width: 50%;
}
.hero-text p {
  color: #7ABABA;
  text-transform: uppercase;
  font-size: 2rem;
  font-family: "Josefin Sans", sans-serif;
}
.hero-text .socials {
  display: flex;
  list-style: none;
  margin-top: 1rem;
}
.hero-text .socials li a {
  flex: 1;
  margin-left: 25px;
  color: rgb(178, 216, 216);
  margin-left: 25px;
  font-size: 2.5rem;
}
.hero-text .socials li a:hover {
  color: #008080;
}

.hero-img {
  height: 60vh;
  width: 60vh;
  border-radius: 50%;
  position: relative;
}
.hero-img .circle {
  height: 60vh;
  width: 60vh;
  border-radius: 50%;
  background-color: rgba(122, 186, 186, 0.5);
  position: absolute;
}
.hero-img .c1 {
  top: -7.5vh;
}
.hero-img .c2 {
  top: -15vh;
}
.hero-img .c3 {
  top: -22.5vh;
}
.hero-img .c4 {
  top: -30vh;
}
.hero-img img {
  object-fit: cover;
  border: 3px solid #008080;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  position: absolute;
}

nav {
  position: sticky;
  bottom: 0;
  max-width: 1800px;
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
}
@media screen and (max-width: 768px) {
  nav {
    flex-direction: column;
    align-items: center;
    position: static;
  }
  nav a {
    width: 80%;
    margin: auto;
  }
}
nav a {
  background-color: rgba(235, 243, 243, 0.3);
  color: #f2f2f2;
  text-transform: uppercase;
  font-family: "Josefin Sans", sans-serif;
  font-size: 2rem;
  text-decoration: none;
  border: 3px solid #008080;
  border-radius: 7px;
  flex: 1;
  text-align: center;
  margin: 1rem;
  padding: 0.5rem;
  transition: letter-spacing 300ms ease-in;
}
@media screen and (max-width: 768px) {
  nav a {
    font-size: 1.6rem;
    margin: 0.2rem;
  }
}
nav a:hover {
  letter-spacing: 10px;
  color: #585b5d;
  background-color: rgb(235, 243, 243);
}

@media screen and (max-width: 1000px) {
  .hero {
    display: inline-block;
    position: relative;
    min-height: 60vh;
    width: 100%;
  }
  .hero .hero-text {
    position: absolute;
    z-index: 10;
    align-items: center;
    left: 50%;
    transform: translateX(-50%);
    max-width: 100%;
  }
  .hero .hero-text p {
    color: #008080;
    background-color: rgba(178, 216, 216, 0.7);
    border-radius: 7px;
  }
  .hero .hero-text li a {
    color: #008080;
  }
  .hero .hero-text li a:hover {
    color: rgb(178, 216, 216);
    background-color: #008080;
    border-radius: 7px;
  }
  .hero .hero-img {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
}

/*# sourceMappingURL=main.css.map */
