* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

body {
  background: black url("../assets/background-large.jpg") no-repeat fixed center;
  background-size: cover;
}

h1 {
  color: #008080;
  text-transform: uppercase;
  font-family: sans-serif;
  font-size: 7rem;
  text-align: end;
}
h1 .mirror {
  display: inline-block;
  transform: scaleX(-1);
}
@media screen and (max-width: 768px) {
  h1 {
    font-size: 5rem;
  }
}

h3 {
  color: #7ABABA;
  text-transform: uppercase;
  font-size: 2rem;
}

main {
  max-width: 1500px;
  margin: auto;
  padding: 2rem;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  background-color: rgba(178, 216, 216, 0.3);
  border-radius: 7px;
}
.card p {
  color: #B2D8D8;
}

.tile {
  padding: 1rem;
  flex: 1;
  border-radius: 7px;
}
.tile h3 {
  margin-bottom: 1rem;
}
.tile p {
  font-size: 1.8rem;
  text-align: left;
}
.tile:hover {
  background-color: #B2D8D8;
}
.tile:hover h3 {
  color: #008080;
}
.tile:hover p {
  color: #383e42;
}

.filter {
  background-color: rgba(178, 216, 216, 0.5);
  height: 100%;
  width: 100%;
  position: absolute;
}

@media screen and (max-width: 900px) {
  .tile h3 {
    font-size: 1.6rem;
  }
  .tile p {
    font-size: 1.2rem;
  }
}
.wrapper {
  width: 60%;
  border-radius: 7px;
  margin: auto;
  display: flex;
  flex-direction: column;
  background-color: rgba(178, 216, 216, 0.3);
  align-items: flex-start;
  padding: 2rem;
}
.wrapper textarea {
  width: 75%;
}

.work-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 1rem;
  grid-template-areas: "work1 image1 image1" "work1 highlight work2" "image2 image2 work2";
}

.work1 {
  grid-area: work1;
}
.work1 p {
  margin-bottom: 1rem;
}

.work2 {
  grid-area: work2;
}
.work2 p {
  margin-bottom: 1rem;
}

.highlight {
  grid-area: highlight;
  background-color: #B2D8D8;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border-radius: 7px;
}
.highlight h3 {
  color: #008080;
}

.image-large {
  width: auto;
  max-width: 100%;
  min-height: 100%;
  max-height: 25vh;
  grid-column: span 2;
  border-radius: 7px;
  overflow: hidden;
  position: relative;
}
.image-large .image1 {
  grid-area: image1;
  width: 100%;
  height: auto;
  object-fit: cover;
}
.image-large .image2 {
  grid-area: image2;
  width: 100%;
  height: auto;
  object-fit: cover;
}

@media screen and (max-width: 768px) {
  .work-grid {
    display: flex;
    flex-direction: column;
  }
  .work-grid > :nth-child(1) {
    order: 2;
  }
  .work-grid > :nth-child(2) {
    order: 4;
  }
  .work-grid > :nth-child(3) {
    order: 3;
  }
  .work-grid > :nth-child(4) {
    order: 5;
  }
  .work-grid > :nth-child(5) {
    display: none;
  }
}
.about-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 1rem;
  grid-template-areas: "about1 img1 about2" "about1 img2 about2" "about1 img3 about2";
}

.about1 {
  grid-area: about1;
}

.about2 {
  grid-area: about2;
}

.image {
  max-width: 100%;
  min-height: 100%;
  max-height: 25vh;
  border-radius: 7px;
  overflow: hidden;
  position: relative;
}
.image img {
  width: 100%;
  max-height: 100%;
  object-fit: cover;
}
.image .img1 {
  grid-area: img1;
}
.image .img2 {
  grid-area: img2;
}
.image .img3 {
  grid-area: img3;
}

@media screen and (max-width: 768px) {
  h1 {
    text-align: center;
  }
  .about-grid {
    display: flex;
    flex-direction: column;
  }
  .about-grid > :nth-child(1) {
    order: 2;
  }
  .about-grid > :nth-child(2) {
    order: 4;
  }
  .about-grid > :nth-child(3) {
    order: 1;
  }
  .about-grid > :nth-child(4) {
    order: 3;
  }
  .about-grid > :nth-child(5) {
    order: 5;
  }
}
.hero {
  max-width: 1500px;
  margin: 7% auto;
  display: flex;
  justify-content: space-evenly;
}

.hero-text {
  margin-top: 15vh;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 20px;
}
.hero-text p {
  color: #7ABABA;
  text-transform: uppercase;
  font-size: 2rem;
  font-family: sans-serif;
}
.hero-text .socials {
  display: flex;
  flex-direction: row-reverse;
  width: 2rem;
  list-style: none;
  margin-top: 1rem;
}
.hero-text .socials li a {
  flex: 1;
  color: #B2D8D8;
  margin-left: 25px;
  font-size: 2.5rem;
}
.hero-text .socials li a:hover {
  font-size: 2.8rem;
}

.hero-img {
  height: 60vh;
  width: 60vh;
  border-radius: 50%;
  position: relative;
}
.hero-img .circle {
  height: 60vh;
  width: 60vh;
  border-radius: 50%;
  background-color: rgba(122, 186, 186, 0.5);
  position: absolute;
}
.hero-img .c1 {
  top: -7.5vh;
}
.hero-img .c2 {
  top: -15vh;
}
.hero-img .c3 {
  top: -22.5vh;
}
.hero-img .c4 {
  top: -30vh;
}
.hero-img img {
  object-fit: cover;
  border: 3px solid #008080;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  position: absolute;
  transform: scaleX(-1);
}

nav {
  position: sticky;
  bottom: 0;
  max-width: 1500px;
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
}
@media screen and (max-width: 768px) {
  nav {
    flex-direction: column;
    align-items: center;
    position: static;
  }
  nav a {
    width: 80%;
    margin: auto;
  }
}
nav a {
  background-color: rgba(178, 216, 216, 0.5);
  color: #f2f2f2;
  text-transform: uppercase;
  font-family: sans-serif;
  font-size: 2rem;
  text-decoration: none;
  border: 3px solid #008080;
  border-radius: 7px;
  flex: 1;
  text-align: center;
  margin: 1rem;
  padding: 1rem;
  transition: letter-spacing 300ms ease-in;
}
@media screen and (max-width: 768px) {
  nav a {
    font-size: 1.6rem;
    padding: 0.7rem;
    margin: 0.2rem;
  }
}
nav a:hover {
  letter-spacing: 10px;
  color: #585b5d;
  background-color: #B2D8D8;
}

@media screen and (max-width: 768px) {
  .hero {
    display: inline-block;
    position: relative;
    min-height: 60vh;
    width: 100%;
  }
  .hero .hero-text {
    position: absolute;
    z-index: 10;
    align-items: center;
    left: 50%;
    transform: translateX(-50%);
  }
  .hero .hero-text p {
    color: #585b5d;
  }
  .hero .hero-text li a {
    color: #797a7a;
    margin: auto;
  }
  .hero .hero-img {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
}

/*# sourceMappingURL=main.css.map */
